In [1]:
import numpy as np
import pandas as pd

In [2]:
#load data
PATH = "C:/Users/r.p/Downloads/"
data = pd.read_csv(PATH + 'datasets_7812_11044_Social_Network_Ads.csv')
#print(data.head)
Gender = pd.get_dummies(data['Gender'], drop_first= True)
df = pd.concat([data, Gender], axis=1)

# x,y = data.loc[:, ['Age', 'EstimatedSalary']].values,data.loc[:, 'Purchased'].values
x = df.drop(['User ID', 'Gender', 'Purchased'], axis=1)
y = df['Purchased']
print(x)
X = np.concatenate((np.ones((400,1)), x), axis = 1) #add column one
print('X shape = ', X.shape ,'\n', 'y shape = ', y.shape)

     Age  EstimatedSalary  Male
0     19            19000     1
1     35            20000     1
2     26            43000     0
3     27            57000     0
4     19            76000     1
..   ...              ...   ...
395   46            41000     0
396   51            23000     1
397   50            20000     0
398   36            33000     1
399   49            36000     0

[400 rows x 3 columns]
X shape =  (400, 4)
 y shape =  (400,)

In [34]:
from sklearn.svm import SVC
clf = SVC(kernel = 'rbf')
#clf.fit(X,y)

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
cf = StratifiedKFold(n_splits = 5, shuffle = True)

C_range = np.logspace(-3, 5, 9)
gamma_range = np.logspace(-3, 5, 9)
 
pgrid = dict(gamma = gamma_range, C = C_range)
grid = GridSearchCV(SVC(), param_grid = pgrid, cv = cf)

grid.fit(x, y)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=True),
             estimator=SVC(),
             param_grid={'C': array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03, 1.e+04,
       1.e+05]),
                         'gamma': array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03, 1.e+04,
       1.e+05])})

In [24]:
X

array([[1.0e+00, 1.9e+01, 1.9e+04, 1.0e+00],
       [1.0e+00, 3.5e+01, 2.0e+04, 1.0e+00],
       [1.0e+00, 2.6e+01, 4.3e+04, 0.0e+00],
       ...,
       [1.0e+00, 5.0e+01, 2.0e+04, 0.0e+00],
       [1.0e+00, 3.6e+01, 3.3e+04, 1.0e+00],
       [1.0e+00, 4.9e+01, 3.6e+04, 0.0e+00]])

In [25]:
x

     Age  EstimatedSalary  Male
0     19            19000     1
1     35            20000     1
2     26            43000     0
3     27            57000     0
4     19            76000     1
..   ...              ...   ...
395   46            41000     0
396   51            23000     1
397   50            20000     0
398   36            33000     1
399   49            36000     0

[400 rows x 3 columns]

In [28]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [1]:
#for param in GridSearchCV.get_params().keys():
    #print(param)